[submodule "themes/gruvbox"]
	path = themes/gruvbox
	url = https://github.com/schnerring/hugo-theme-gruvbox
[submodule "themes/HugoTeX"]
	path = themes/HugoTeX
	url = https://github.com/kaisugi/HugoTeX.git
